a:link, a:visited, a:hover, a:active {
    color: #000000;
    text-decoration: none;
}

.main-nav {
    width: 20px;
    height: 30px;
    display: block;
    
    
}

.main-nav-list {
    margin-left: 500px;
    height: 30px;
    width: 400px;
    text-decoration: none;
}

.item {
    display: inline-block;
    padding: 5px;
    
}



.header {
    width: 100%;
    height: 200px;
    background-color: #e6e6e6;
}

.imgHead {
    display: inline-block;
    float: left;
    height: 60%;
}
