a:link, a:visited, a:hover, a:active {
    color: #000000;
    text-decoration: none;
}

body {
    margin: 0px;
}

.font-Ebrima {
    font-family: Ebrima;
    src: url('assets/fonts/ebrima.ttf');
}

.main-nav {
    margin-top: 5%;
    height: 3%;
    width: 60%;
    float: right;
}

.main-nav-list {
    margin-right: 15%;
    height: 3%;
    text-decoration: none;
    float: right;
}

.item {
    margin: auto;
    margin-right: 35px;
    float: right;
    
}

.header {
    width: 100%;
    background-color: #e6e6e6;
    font-size: 30px;
    overflow: hidden;
}

.imgHead {
    width: 35%;
    float: left;
}


.entrepotImg {
    width: 100%;
    height: 100%;
}

.slogan {
    display: inline-block;
    
}
