/* unvisited link */
a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #000000;
    text-decoration: none;
}

.main-nav {
    width: 20px;
    height: 30px;
    display: block;
    
    
}

.main-nav-list {
    display: inline-block;
    height: 30px;
    width: 400px;
    text-decoration: none;
}

.item {
    display: inline-block;
    padding: 5px;
    
}



.header {
    width: 100%;
    height: 200px;
    background-color: fuchsia;
}
